{
  "openapi": "3.0.3",
  "info": {
    "title": "DC Hub — Data Center Intelligence API",
    "description": "Programmatic access to 20,000+ data center facilities, M&A deals, energy pricing, construction pipeline, and market intelligence across 140+ countries.",
    "version": "2.1.0",
    "contact": {
      "name": "DC Hub",
      "url": "https://dchub.cloud",
      "email": "api@dchub.cloud"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://dchub.cloud/terms"
    }
  },
  "servers": [
    {
      "url": "https://dchub.cloud",
      "description": "Production"
    }
  ],
  "security": [
    {},
    {
      "MoltbookIdentity": []
    }
  ],
  "tags": [
    { "name": "Agent", "description": "Agent discovery and facility search" },
    { "name": "Platform", "description": "News, transactions, stats, markets" },
    { "name": "Energy", "description": "Energy pricing and grid data" },
    { "name": "Pipeline", "description": "Construction and development pipeline" },
    { "name": "Discovery", "description": "Machine-readable discovery files" }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check",
        "description": "Verify the API is running.",
        "tags": ["Agent"],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/capabilities": {
      "get": {
        "summary": "Agent capabilities",
        "description": "Returns everything another agent needs to know about DCHubBot: all endpoints, auth instructions, discovery file URLs, and a message to relay to users. This is the single best URL to share when an agent asks 'what can you do?'",
        "tags": ["Agent"],
        "responses": {
          "200": {
            "description": "Full capability spec",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string", "example": "DCHubBot" },
                        "portal": { "type": "string", "example": "https://dchub.cloud/agent-portal" }
                      }
                    },
                    "capabilities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "endpoint": { "type": "string" },
                          "description": { "type": "string" }
                        }
                      }
                    },
                    "auth": {
                      "type": "object",
                      "properties": {
                        "protocol": { "type": "string", "example": "moltbook" },
                        "header": { "type": "string", "example": "X-Moltbook-Identity" }
                      }
                    },
                    "discovery_files": { "type": "object" },
                    "message_to_agents": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/whoami": {
      "get": {
        "summary": "Verify authentication",
        "description": "Test your Moltbook identity token. Returns your agent profile if authenticated, or auth instructions if not.",
        "tags": ["Agent"],
        "parameters": [
          {
            "name": "X-Moltbook-Identity",
            "in": "header",
            "required": false,
            "schema": { "type": "string" },
            "description": "Moltbook identity token"
          }
        ],
        "responses": {
          "200": {
            "description": "Auth status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authenticated": { "type": "boolean" },
                    "agent": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "karma": { "type": "integer" },
                        "is_claimed": { "type": "boolean" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/facilities": {
      "get": {
        "summary": "Search facilities",
        "description": "Search 20,000+ data center facilities by name, provider, city, or country. Works without auth; authenticated agents see additional fields.",
        "tags": ["Agent"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Search query — matches name, city, or provider",
            "example": "Equinix"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Filter by country name",
            "example": "US"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 20, "maximum": 100 },
            "description": "Max results (default: 20, max: 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Facility search results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FacilitySearchResponse" }
              }
            }
          }
        }
      }
    },
    "/api/agent/stats": {
      "get": {
        "summary": "Platform overview stats",
        "description": "Global DC Hub statistics — facility count, countries, providers, and data source counts. Pulled live from the database.",
        "tags": ["Agent"],
        "responses": {
          "200": {
            "description": "Platform statistics",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/news": {
      "get": {
        "summary": "Industry news",
        "description": "Latest data center industry news aggregated from 40+ RSS sources. Updated every 5 minutes.",
        "tags": ["Platform"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 50 },
            "description": "Max articles to return"
          }
        ],
        "responses": {
          "200": {
            "description": "News articles",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NewsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/transactions": {
      "get": {
        "summary": "M&A deals",
        "description": "Data center M&A deals, acquisitions, and investments. $51B+ total deal volume tracked.",
        "tags": ["Platform"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 100 },
            "description": "Max results"
          },
          {
            "name": "deal_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["acquisition", "investment", "merger"]
            },
            "description": "Filter by deal type"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TransactionResponse" }
              }
            }
          }
        }
      }
    },
    "/api/stats": {
      "get": {
        "summary": "Platform statistics",
        "description": "High-level platform numbers: facility count, countries, markets, article count, transaction count.",
        "tags": ["Platform"],
        "responses": {
          "200": {
            "description": "Stats",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/markets/list": {
      "get": {
        "summary": "All markets",
        "description": "List all tracked data center markets with summary data.",
        "tags": ["Platform"],
        "responses": {
          "200": {
            "description": "Market list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MarketListResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/markets/{market_name}": {
      "get": {
        "summary": "Single market details",
        "description": "Get detailed data for a specific market.",
        "tags": ["Platform"],
        "parameters": [
          {
            "name": "market_name",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Market name slug (e.g., 'northern-virginia', 'dallas')",
            "example": "northern-virginia"
          }
        ],
        "responses": {
          "200": {
            "description": "Market details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MarketDetail" }
              }
            }
          }
        }
      }
    },
    "/api/v1/markets/compare": {
      "get": {
        "summary": "Compare markets",
        "description": "Side-by-side comparison of multiple markets.",
        "tags": ["Platform"],
        "parameters": [
          {
            "name": "markets",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Comma-separated market names",
            "example": "northern-virginia,dallas,phoenix"
          }
        ],
        "responses": {
          "200": {
            "description": "Market comparison",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/MarketDetail" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lmp/prices": {
      "get": {
        "summary": "Energy pricing by ISO",
        "description": "Locational marginal pricing data across major ISOs (ERCOT, PJM, CAISO, MISO, NYISO, SPP, ISO-NE). Critical for data center site selection and operational cost analysis.",
        "tags": ["Energy"],
        "parameters": [
          {
            "name": "iso",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ERCOT", "PJM", "CAISO", "MISO", "NYISO", "SPP", "ISONE"]
            },
            "description": "ISO/RTO code"
          }
        ],
        "responses": {
          "200": {
            "description": "Energy pricing data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EnergyPriceResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/pipeline": {
      "get": {
        "summary": "Construction pipeline",
        "description": "Data centers under construction, planned, or in development. Track the ~7.8 GW global capacity pipeline.",
        "tags": ["Pipeline"],
        "responses": {
          "200": {
            "description": "Pipeline data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PipelineResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/map": {
      "get": {
        "summary": "Facility map data",
        "description": "Geo-located facility data for map rendering. Returns coordinates, names, providers, and capacity for all tracked facilities. Large payload.",
        "tags": ["Platform"],
        "responses": {
          "200": {
            "description": "Map data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string", "example": "FeatureCollection" },
                    "features": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "MoltbookIdentity": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Moltbook-Identity",
        "description": "Moltbook identity token. Generate via POST https://www.moltbook.com/api/v1/agents/me/identity-token"
      }
    },
    "schemas": {
      "Facility": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "example": "Equinix SV5" },
          "provider": { "type": "string", "example": "Equinix" },
          "city": { "type": "string", "example": "San Jose" },
          "state": { "type": "string", "example": "California" },
          "country": { "type": "string", "example": "United States" },
          "market": { "type": "string", "example": "Silicon Valley" },
          "latitude": { "type": "number", "example": 37.3382 },
          "longitude": { "type": "number", "example": -121.8863 },
          "total_power_mw": { "type": "number", "example": 28.5 },
          "gross_sqft": { "type": "integer", "example": 200000 },
          "tier_level": { "type": "string", "example": "Tier III" },
          "status": { "type": "string", "enum": ["operational", "under_construction", "planned"] }
        }
      },
      "FacilitySearchResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "count": { "type": "integer", "example": 10 },
          "facilities": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Facility" }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "buyer": { "type": "string" },
          "seller": { "type": "string" },
          "deal_value": { "type": "string" },
          "deal_type": { "type": "string", "enum": ["acquisition", "investment", "merger"] },
          "date": { "type": "string", "format": "date" },
          "facilities_count": { "type": "integer" },
          "markets": { "type": "array", "items": { "type": "string" } }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "transactions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Transaction" }
          }
        }
      },
      "NewsArticle": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "source": { "type": "string" },
          "published_at": { "type": "string", "format": "date-time" },
          "summary": { "type": "string" }
        }
      },
      "NewsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "articles": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/NewsArticle" }
          }
        }
      },
      "StatsResponse": {
        "type": "object",
        "properties": {
          "facilities": { "type": "integer", "example": 10706 },
          "countries": { "type": "integer", "example": 170 },
          "providers": { "type": "integer", "example": 3880 },
          "markets": { "type": "integer", "example": 35 },
          "transactions": { "type": "integer" },
          "news_articles": { "type": "integer" }
        }
      },
      "MarketDetail": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "example": "Northern Virginia" },
          "slug": { "type": "string", "example": "northern-virginia" },
          "facility_count": { "type": "integer" },
          "total_mw": { "type": "number" },
          "vacancy_rate": { "type": "number" },
          "avg_price_per_kw": { "type": "number" },
          "pipeline_mw": { "type": "number" },
          "primary_utilities": { "type": "array", "items": { "type": "string" } }
        }
      },
      "MarketListResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "markets": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MarketDetail" }
          }
        }
      },
      "EnergyPriceResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "iso": { "type": "string" },
          "prices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "node": { "type": "string" },
                "lmp": { "type": "number", "description": "$/MWh" },
                "timestamp": { "type": "string", "format": "date-time" }
              }
            }
          }
        }
      },
      "PipelineResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "total_pipeline_mw": { "type": "number" },
          "projects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "market": { "type": "string" },
                "capacity_mw": { "type": "number" },
                "status": { "type": "string", "enum": ["under_construction", "planned", "announced"] },
                "developer": { "type": "string" },
                "expected_completion": { "type": "string" }
              }
            }
          }
        }
      }
    }
  }
}
