{
  "openapi": "3.1.0",
  "info": {
    "title": "DC Hub - Data Center Intelligence API",
    "description": "Access real-time data center intelligence. Query 20,534 facilities across 140+ countries with location, capacity, and provider information.",
    "version": "1.0.0",
    "contact": {
      "name": "DC Hub",
      "url": "https://dchub.cloud",
      "email": "partners@dchub.cloud"
    }
  },
  "servers": [
    {
      "url": "https://dchub.cloud",
      "description": "Production API"
    }
  ],
  "paths": {
    "/api/v1/stats": {
      "get": {
        "operationId": "getStatistics",
        "summary": "Get global data center statistics",
        "description": "Returns aggregate statistics including total facilities by source, status, and top countries.",
        "responses": {
          "200": {
            "description": "Global statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "main_facilities": { "type": "integer", "description": "Total facilities in main database" },
                        "discovered_facilities": { "type": "integer", "description": "Newly discovered facilities" },
                        "new_last_7_days": { "type": "integer" },
                        "top_countries": { "type": "object", "description": "Facility count by country code" },
                        "by_source": { "type": "object", "description": "Facilities grouped by data source" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/facilities": {
      "get": {
        "operationId": "getFacilities",
        "summary": "List and search data center facilities",
        "description": "Returns a paginated list of data center facilities. Use 'q' parameter to search by name, city, or provider.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query - filter by name, city, provider, or state (e.g., 'Equinix', 'Dallas', 'Virginia')",
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1)",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page (default 50, max 100)",
            "schema": { "type": "integer", "default": 50, "maximum": 100 }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Filter by country code (e.g., US, GB, DE, AU)",
            "schema": { "type": "string" }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state/region (e.g., VA, TX, CA)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of facilities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string", "description": "Facility name" },
                          "provider": { "type": "string", "description": "Company operating the facility" },
                          "city": { "type": "string" },
                          "state": { "type": "string" },
                          "country": { "type": "string" },
                          "latitude": { "type": "number" },
                          "longitude": { "type": "number" },
                          "power_mw": { "type": "number", "description": "Power capacity in megawatts" },
                          "sqft": { "type": "integer", "description": "Square footage" },
                          "status": { "type": "string", "description": "Active, Construction, Planned" }
                        }
                      }
                    },
                    "total": { "type": "integer" },
                    "page": { "type": "integer" },
                    "pages": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/facilities/stats": {
      "get": {
        "operationId": "getFacilityStats",
        "summary": "Get facility statistics summary",
        "description": "Returns summary statistics about all tracked facilities.",
        "responses": {
          "200": {
            "description": "Facility statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_facilities": { "type": "integer" },
                    "total_countries": { "type": "integer" },
                    "total_providers": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/risk/water": {
      "get": {
        "operationId": "getWaterRisk",
        "summary": "Assess water availability and drought risk",
        "description": "Analyzes groundwater levels, streamflow, and water stress near a location using live USGS data. Returns water availability score (0-100).",
        "parameters": [
          { "name": "lat", "in": "query", "required": true, "description": "Latitude", "schema": { "type": "number" } },
          { "name": "lng", "in": "query", "required": true, "description": "Longitude", "schema": { "type": "number" } }
        ],
        "responses": {
          "200": {
            "description": "Water risk assessment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "water_availability_score": { "type": "integer", "description": "0-100 score, higher is better" },
                    "water_stress_risk": { "type": "string", "description": "low, moderate, high, or critical" },
                    "groundwater_wells_nearby": { "type": "integer" },
                    "stream_gauges_nearby": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/risk/seismic": {
      "get": {
        "operationId": "getSeismicRisk",
        "summary": "Assess seismic safety",
        "description": "Analyzes 20-year earthquake history within 200km using USGS data. Returns seismic safety score (0-100).",
        "parameters": [
          { "name": "lat", "in": "query", "required": true, "description": "Latitude", "schema": { "type": "number" } },
          { "name": "lng", "in": "query", "required": true, "description": "Longitude", "schema": { "type": "number" } }
        ],
        "responses": {
          "200": {
            "description": "Seismic risk assessment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "seismic_safety_score": { "type": "integer", "description": "0-100 score, higher is safer" },
                    "seismic_risk_level": { "type": "string", "description": "very low, low, moderate, high, very high" },
                    "earthquake_count": { "type": "integer" },
                    "max_magnitude": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/risk/hazards": {
      "get": {
        "operationId": "getNaturalHazards",
        "summary": "Get FEMA natural hazard risk breakdown",
        "description": "Returns risk ratings for 7 hazard types using FEMA National Risk Index: earthquake, flood, tornado, hurricane, wildfire, winter storm, hail.",
        "parameters": [
          { "name": "lat", "in": "query", "required": true, "description": "Latitude", "schema": { "type": "number" } },
          { "name": "lng", "in": "query", "required": true, "description": "Longitude", "schema": { "type": "number" } },
          { "name": "state", "in": "query", "description": "US state code (e.g. AZ, TX)", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Natural hazard risk breakdown",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "natural_hazard_safety_score": { "type": "integer", "description": "0-100 composite hazard safety score" },
                    "hazard_breakdown": { "type": "object", "description": "Individual risk ratings for each of 7 hazard types" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/risk/climate": {
      "get": {
        "operationId": "getClimateIntel",
        "summary": "Get climate and cooling efficiency data",
        "description": "Returns DC-specific climate metrics from NOAA 30-year normals: cooling degree days, free cooling hours, estimated PUE, ASHRAE climate zone.",
        "parameters": [
          { "name": "lat", "in": "query", "required": true, "description": "Latitude", "schema": { "type": "number" } },
          { "name": "lng", "in": "query", "required": true, "description": "Longitude", "schema": { "type": "number" } },
          { "name": "state", "in": "query", "description": "US state code", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Climate intelligence data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "cooling_efficiency_score": { "type": "integer", "description": "0-100 score" },
                    "cooling_degree_days": { "type": "integer" },
                    "free_cooling_hours": { "type": "integer" },
                    "estimated_pue": { "type": "number" },
                    "cooling_favorability": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/risk/composite": {
      "get": {
        "operationId": "getCompositeRisk",
        "summary": "Get composite site risk score (0-100 with A-F grade)",
        "description": "Industry-first unified site risk score combining water availability (30%), seismic safety (25%), natural hazards (25%), and climate/cooling (20%) from 4 live government APIs. No competitor offers this combination.",
        "parameters": [
          { "name": "lat", "in": "query", "required": true, "description": "Latitude", "schema": { "type": "number" } },
          { "name": "lng", "in": "query", "required": true, "description": "Longitude", "schema": { "type": "number" } },
          { "name": "state", "in": "query", "description": "US state code", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Composite site risk score",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "composite_site_risk_score": { "type": "integer", "description": "0-100 composite score" },
                    "site_grade": { "type": "string", "description": "A, B, C, D, or F" },
                    "partial": { "type": "boolean", "description": "True if any data source was unavailable" },
                    "factors": { "type": "array", "description": "Breakdown of 4 risk factors with scores and weights" },
                    "weakest_factor": { "type": "string" },
                    "strongest_factor": { "type": "string" },
                    "recommendation": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/risk/compare": {
      "get": {
        "operationId": "compareSites",
        "summary": "Compare 2-5 sites side-by-side",
        "description": "Compare multiple data center sites with composite risk scores and ranked results. Uses parallel execution for fast multi-site comparison.",
        "parameters": [
          {
            "name": "sites",
            "in": "query",
            "required": true,
            "description": "Semicolon-separated coordinates: lat1,lng1,Label1;lat2,lng2,Label2 (2-5 sites)",
            "schema": { "type": "string" },
            "example": "33.4484,-112.0740,Phoenix;32.7767,-96.7970,Dallas;41.8781,-87.6298,Chicago"
          }
        ],
        "responses": {
          "200": {
            "description": "Site comparison with rankings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "sites_compared": { "type": "integer" },
                    "best_site": { "type": "string" },
                    "partial": { "type": "boolean" },
                    "rankings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": { "type": "string" },
                          "composite_score": { "type": "integer" },
                          "grade": { "type": "string" },
                          "water_score": { "type": "integer" },
                          "seismic_score": { "type": "integer" },
                          "hazard_score": { "type": "integer" },
                          "climate_score": { "type": "integer" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/news": {
      "get": {
        "operationId": "getNews",
        "summary": "Get latest data center news",
        "description": "Returns recent news and announcements from the data center industry.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of articles to return (default 20)",
            "schema": { "type": "integer", "default": 20 }
          }
        ],
        "responses": {
          "200": {
            "description": "News articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "articles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": { "type": "string" },
                          "summary": { "type": "string" },
                          "source": { "type": "string" },
                          "url": { "type": "string" },
                          "published": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
