{
  "openapi": "3.0.0",
  "info": {
    "title": "DC Hub API",
    "description": "Data Center Intelligence Platform - Access 50,000+ facilities, M&A transactions, site scoring, and real-time grid data.",
    "version": "2.0.0",
    "contact": {
      "name": "DC Hub API Support",
      "email": "api@dchub.cloud",
      "url": "https://dchub.cloud/api-docs"
    }
  },
  "servers": [
    {
      "url": "https://dchub.cloud",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/site-score": {
      "get": {
        "operationId": "getSiteScore",
        "summary": "Evaluate a site for data center suitability",
        "description": "Returns comprehensive scoring including energy costs, carbon intensity, infrastructure proximity, connectivity, risk factors, and overall score (0-100).",
        "parameters": [
          {"name": "lat", "in": "query", "required": true, "schema": {"type": "number"}, "description": "Latitude"},
          {"name": "lon", "in": "query", "required": true, "schema": {"type": "number"}, "description": "Longitude"},
          {"name": "state", "in": "query", "required": true, "schema": {"type": "string"}, "description": "US state code (e.g., VA, TX, AZ)"}
        ],
        "responses": {
          "200": {
            "description": "Site score results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "overall_score": {"type": "number"},
                    "energy_score": {"type": "number"},
                    "carbon_score": {"type": "number"},
                    "infrastructure_score": {"type": "number"},
                    "connectivity_score": {"type": "number"},
                    "risk_score": {"type": "number"},
                    "cost_score": {"type": "number"},
                    "energy_details": {"type": "object"},
                    "carbon_details": {"type": "object"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/grid/fuel-mix": {
      "get": {
        "operationId": "getGridFuelMix",
        "summary": "Get real-time electricity fuel mix",
        "description": "Returns current electricity generation breakdown by fuel source for an ISO/RTO.",
        "parameters": [
          {"name": "iso", "in": "query", "required": true, "schema": {"type": "string", "enum": ["ERCOT", "PJM", "CAISO", "MISO", "SPP", "NYISO", "ISONE"]}, "description": "ISO/RTO name"}
        ],
        "responses": {
          "200": {
            "description": "Fuel mix data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "iso": {"type": "string"},
                    "timestamp": {"type": "string"},
                    "total_generation_mw": {"type": "number"},
                    "fuel_mix": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {"type": "string"},
                          "mw": {"type": "number"},
                          "percentage": {"type": "number"}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/carbon/intensity": {
      "get": {
        "operationId": "getCarbonIntensity",
        "summary": "Get grid carbon intensity",
        "description": "Returns carbon intensity (gCO2/kWh) for a location based on EPA eGRID data.",
        "parameters": [
          {"name": "state", "in": "query", "schema": {"type": "string"}, "description": "US state code"},
          {"name": "lat", "in": "query", "schema": {"type": "number"}, "description": "Latitude (alternative to state)"},
          {"name": "lon", "in": "query", "schema": {"type": "number"}, "description": "Longitude (alternative to state)"}
        ],
        "responses": {
          "200": {
            "description": "Carbon intensity data"
          }
        }
      }
    },
    "/api/renewable/solar": {
      "get": {
        "operationId": "getSolarPotential",
        "summary": "Get solar PV potential",
        "description": "Returns solar photovoltaic potential using NREL PVWatts data including capacity factor and annual production estimates.",
        "parameters": [
          {"name": "lat", "in": "query", "required": true, "schema": {"type": "number"}, "description": "Latitude"},
          {"name": "lon", "in": "query", "required": true, "schema": {"type": "number"}, "description": "Longitude"}
        ],
        "responses": {
          "200": {
            "description": "Solar potential data"
          }
        }
      }
    },
    "/api/renewable/wind": {
      "get": {
        "operationId": "getWindPotential",
        "summary": "Get wind energy potential",
        "description": "Returns wind energy potential including wind speed, power density, and capacity factor estimates.",
        "parameters": [
          {"name": "lat", "in": "query", "required": true, "schema": {"type": "number"}, "description": "Latitude"},
          {"name": "lon", "in": "query", "required": true, "schema": {"type": "number"}, "description": "Longitude"}
        ],
        "responses": {
          "200": {
            "description": "Wind potential data"
          }
        }
      }
    },
    "/api/v1/gas-pipelines": {
      "get": {
        "operationId": "getGasPipelines",
        "summary": "Get gas pipeline infrastructure",
        "description": "Returns natural gas pipeline data with operator, type, diameter, and geographic coordinates.",
        "parameters": [
          {"name": "state", "in": "query", "schema": {"type": "string"}, "description": "US state code"},
          {"name": "operator", "in": "query", "schema": {"type": "string"}, "description": "Pipeline operator"},
          {"name": "type", "in": "query", "schema": {"type": "string"}, "description": "Pipeline type (Transmission, Distribution, Gathering)"},
          {"name": "limit", "in": "query", "schema": {"type": "integer"}, "description": "Max results"}
        ],
        "responses": {
          "200": {
            "description": "Pipeline data with coordinates"
          }
        }
      }
    },
    "/api/v1/facilities": {
      "get": {
        "operationId": "searchFacilities",
        "summary": "Search data center facilities",
        "description": "Search 50,000+ data center facilities by location, provider, capacity, or other criteria.",
        "parameters": [
          {"name": "q", "in": "query", "schema": {"type": "string"}, "description": "Search query"},
          {"name": "market", "in": "query", "schema": {"type": "string"}, "description": "Market name"},
          {"name": "state", "in": "query", "schema": {"type": "string"}, "description": "US state code"},
          {"name": "provider", "in": "query", "schema": {"type": "string"}, "description": "Provider name"},
          {"name": "limit", "in": "query", "schema": {"type": "integer"}, "description": "Max results"}
        ],
        "responses": {
          "200": {
            "description": "Facility search results"
          }
        }
      }
    },
    "/api/v1/transactions": {
      "get": {
        "operationId": "searchTransactions",
        "summary": "Search M&A transactions",
        "description": "Search $51B+ in tracked data center M&A transactions.",
        "parameters": [
          {"name": "buyer", "in": "query", "schema": {"type": "string"}, "description": "Buyer company"},
          {"name": "seller", "in": "query", "schema": {"type": "string"}, "description": "Seller company"},
          {"name": "year", "in": "query", "schema": {"type": "integer"}, "description": "Transaction year"},
          {"name": "limit", "in": "query", "schema": {"type": "integer"}, "description": "Max results"}
        ],
        "responses": {
          "200": {
            "description": "Transaction search results"
          }
        }
      }
    },
    "/api/v1/news": {
      "get": {
        "operationId": "getNews",
        "summary": "Get industry news",
        "description": "Get latest data center industry news from 40+ sources.",
        "parameters": [
          {"name": "q", "in": "query", "schema": {"type": "string"}, "description": "Search keyword"},
          {"name": "limit", "in": "query", "schema": {"type": "integer"}, "description": "Max results"}
        ],
        "responses": {
          "200": {
            "description": "News articles"
          }
        }
      }
    },
    "/api/v1/stats": {
      "get": {
        "operationId": "getStats",
        "summary": "Get platform statistics",
        "description": "Returns aggregate statistics including total facilities, power capacity, markets, and data sources.",
        "responses": {
          "200": {
            "description": "Platform statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_facilities": {"type": "integer"},
                    "total_power_mw": {"type": "number"},
                    "total_countries": {"type": "integer"},
                    "total_announcements": {"type": "integer"},
                    "by_source": {"type": "object"}
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
