{
  "openapi": "3.0.3",
  "info": {
    "title": "DC Hub API",
    "description": "Data center intelligence platform — 11,976+ facilities, pipeline, markets, transactions. See https://dchub.cloud/api-docs for full docs.",
    "version": "1.0.0",
    "contact": {"url": "https://dchub.cloud/connect"}
  },
  "servers": [{"url": "https://dchub.cloud/api/v1", "description": "Production"}],
  "paths": {
    "/stats": {"get": {"summary": "Global aggregate stats", "description": "Operational, Under Construction, Announced totals plus by_source, by_country, top_providers, pipeline_mw.", "responses": {"200": {"description": "Aggregate stats JSON", "content": {"application/json": {}}}}}},
    "/facilities": {"get": {"summary": "Search facilities", "parameters": [{"name": "country", "in": "query", "schema": {"type": "string"}, "example": "US"}, {"name": "state", "in": "query", "schema": {"type": "string"}, "example": "TX"}, {"name": "limit", "in": "query", "schema": {"type": "integer"}, "example": 100}, {"name": "offset", "in": "query", "schema": {"type": "integer"}, "example": 0}], "responses": {"200": {"description": "Paginated list of facilities", "content": {"application/json": {}}}}}},
    "/pipeline": {"get": {"summary": "Construction pipeline by quarter", "responses": {"200": {"description": "Pipeline capacity/projects by quarter", "content": {"application/json": {}}}}}}
  },
  "components": {
    "securitySchemes": {"ApiKeyAuth": {"type": "apiKey", "in": "header", "name": "X-API-Key", "description": "Required for tier-gated endpoints. Obtain at https://dchub.cloud/connect."}}
  },
  "security": [{"ApiKeyAuth": []}]
}
